@import url("https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap");

:root {
  --color-text-black: #000000;
  --color-text-grey: #7a7a7a;
  --color-accent-regular: #3cb4ac;
  --color-accent-dark: #147b74;
  --color-grey: #b1b1b1;
  --color-light-grey: #d7d7d7;
  --color-white: #ffffff;

  --fs-xl: 4rem;
  --fs-600: 3rem;
  --fs-500: 2.5rem;
  --fs-400: 1.6rem;
  --fs-300: 1.4rem;

  --fw-bold: 700;
  --fw-medium: 500;
  --fw-regular: 400;

  --br-xl: 60px;
  --br-400: 8px;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Commissioner", Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  color: var(--color-text-black);
}

h1,
h2 {
  font-size: var(--fs-500);
}

h3 {
  font-size: var(--fs-400);
}

p {
  font-size: var(--fs-400);
  color: var(--color-text-grey);
  line-height: 1.5;
}
/* Utilities */
.rounded-corner {
  border-radius: var(--br-xl);
}

.btn {
  font-size: var(--fs-300);
  font-weight: var(--fw-medium);
  background: var(--color-accent-regular);
  color: var(--color-white);
  border: none;
  /* width: 16rem; */
  padding: 2rem 3rem;
  cursor: pointer;
  transition: all 0.1s ease-in;
}

/* .btn:disabled {
  background: var(--color-grey);
  pointer-events: none;
} */

.btn:hover {
  background: var(--color-accent-dark);
}

/* Bookmark Button */

.btn--bookmark {
  padding: 0;
}

.bookmark__icon {
  display: block;
}

.bookmark-wrapper {
  background: var(--color-light-grey);
  color: var(--color-text-grey);
  width: min-content;
}

.bookmark__content {
  padding: 1.8rem 3rem 1.8rem 2rem;
  font-weight: var(--fw-bold);
  display: none;
}

.bookmark--active #background {
  fill: var(--color-accent-dark);
}

.bookmark--active #bookmark {
  fill: var(--color-white);
}

.bookmark--active .bookmark__content {
  color: var(--color-accent-dark);
}

@media screen and (min-width: 600px) {
  .bookmark-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .bookmark__content {
    display: initial;
  }
}

/* Card */
.card {
  width: 90%;
  margin-inline: auto;
  padding: 2.5rem;
  border: 2px solid var(--color-light-grey);
  border-radius: var(--br-400);
}

.card + .card {
  margin-top: 2.5rem;
}

.card--inactive {
  opacity: 0.4;
}

.card--inactive .btn {
  background: var(--color-text-grey);
  pointer-events: none;
}

.card__subtitle {
  color: var(--color-accent-regular);
  font-weight: var(--fw-medium);
}

.card__description {
  margin-block: 2rem;
}

.card__data {
  margin-bottom: 1.8rem;
}

.pledge-avail {
  color: var(--color-text-black);
  font-weight: var(--fw-bold);
  font-size: var(--fs-600);
  vertical-align: sub;
  padding-right: 0.5rem;
}

/* Attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
