<div class="block stats-block container">
  <div class="flex">
    <div class="stats">
      <p class="stats__data">$89,914</p>
      <p class="stats__description">of $100,000 backed</p>
    </div>
    <div class="stats divider">
      <p class="stats__data">5,007</p>
      <p class="stats__description">total backers</p>
    </div>
    <div class="stats divider">
      <p class="stats__data">56</p>
      <p class="stats__description">days left</p>
    </div>
  </div>
  <div class="stats__goal">
    <progress max="100" value="89"></progress>
  </div>
</div>
