<div class="block hero-block container">
  <img class="hero__logo" src="images/logo-mastercraft.svg" alt="" />
  <h1>Mastercraft Bamboo Monitor Riser</h1>
  <p>A beautifully handcrafted monitor stand to reduce neck and eye strain.</p>
  <div class="flex">
    <button class="rounded-corner btn">Back this project</button>
    <div class="rounded-corner bookmark-wrapper">
      <button class="rounded-corner btn btn--bookmark">
        <svg
          class="bookmark__icon"
          width="56"
          height="56"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g fill="none" fill-rule="evenodd">
            <circle fill="#2F2F2F" cx="28" cy="28" r="28" id="background" />
            <path
              fill="#B1B1B1"
              d="M23 19v18l5-5.058L33 37V19z"
              id="bookmark"
            />
          </g>
        </svg>
      </button>
      <p class="bookmark__content">Bookmark</p>
    </div>
  </div>
</div>
