<article class="card">
  <h3 class="card__title">Bamboo Stand</h3>
  <p class="card__subtitle">Pledge $25 or more</p>
  <p class="card__description">
    You get an ergonomic stand made of natural bamboo. You've helped us launch
    our promotional campaign, and you'll be added to a special Backer member
    list.
  </p>
  <p class="card__data"><span class="pledge-avail">101</span> left</p>
  <button class="rounded-corner btn">Select Reward</button>
</article>
<article class="card card--inactive">
  <h3 class="card__title">Bamboo Stand</h3>
  <p class="card__subtitle">Pledge $25 or more</p>
  <p class="card__description">
    You get an ergonomic stand made of natural bamboo. You've helped us launch
    our promotional campaign, and you'll be added to a special Backer member
    list.
  </p>
  <p class="card__data"><span class="pledge-avail">101</span> left</p>
  <button class="rounded-corner btn">Select Reward</button>
</article>
